body {
    font-family: cursive;
    background-color: black;
}

.timer-container {
    background-color: rgb(69, 212, 193);
    border: 30px solid rgb(127, 240, 215);
    border-radius: 30px;
    margin-top: 19%;
}
.Text-display {
    color: aqua;
    text-align: center;
}
#timer-display {
    color: rgb(170, 39, 120);
    text-align: center;
    font-size: 120px;
    margin: 0;

}
